---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* system typefaces */

@font-face {
 font-family: "Tenor Sans";
 src: url(/assets/fonts/TenorSans-Regular.ttf) format('ttf');
 font-display: swap;
}

$serif              : "PT Serif", Georgia, Times, serif;
$sans-serif-narrow  : "Tenor Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;


/* $sans-serif: "Tenor Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

/* Other formatting */
$paragraph-indent: true;
