---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* system typefaces */

@font-face {
 font-family: "Tenor Sans";
 src: url(/assets/fonts/TenorSans-Regular.ttf) format('ttf');
 font-display: swap;
}

$sans-serif: "Tenor Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";